<main>
    <section id="section-banner" class="container">
      
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="Venha comprar na nossa loja!">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/banner2.PNG" class="d-block w-100" alt="Promoção de produtos">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="Varias novidades de produtos">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section id="section-vendidos" class="container">

      <h2>JOGOS EM PROMOÇÃO</h2>

      <div class="card-group">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/jogo1.PNG" class="card-img-top" alt="Jogo de aventura">
          <div class="card-body">
            <h5 class="card-title">Jogo 1</h5>
            <p class="card-text">Descrição do jogo</p>
            <p class="preco">R$ 150,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/jogo2.PNG" class="card-img-top" alt="Jogo de corrida">
          <div class="card-body">
            <h5 class="card-title">Jogo 2</h5>
            <p class="card-text">Descrição do jogo</p>
            <p class="preco">R$ 200,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="./assets/img/jogo3.PNG" class="card-img-top" alt="Melhor de todos">
          <div class="card-body">
            <h5 class="card-title">Jogo 3</h5>
            <p class="card-text">Descrição do jogo</p>
            <p class="preco">R$ 350,00</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>

    </section>


</main>